*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;
background:#F4E3D7;
padding:30px;

}

/* HEADER */

header{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;

}

header h1{

color:#8C4A2F;
font-weight:600;

}

.carrinho-link{

text-decoration:none;
background:#8C4A2F;
color:white;
padding:10px 15px;
border-radius:8px;

}

/* BANNER */

.banner{

background:linear-gradient(45deg,#C97B63,#8C4A2F);
color:white;
padding:40px;
border-radius:15px;
margin-bottom:40px;
text-align:center;

}

.banner h2{

font-size:32px;
margin-bottom:10px;

}

/* PRODUTOS */

.produtos{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;

}

.card{

background:white;
padding:20px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
text-align:center;
transition:0.3s;

}

.card:hover{

transform:translateY(-5px);

}

.imagem-produto{

width:100%;
height:200px;
object-fit:cover;
border-radius:10px;
margin-bottom:10px;

}

.card h2{

font-size:18px;
margin-bottom:5px;

}

.descricao{

font-size:14px;
color:#666;
margin-bottom:10px;

}

.preco{

font-size:18px;
font-weight:600;
color:#C97B63;
margin-bottom:10px;

}

/* BOTÃO */

button{

background:#C97B63;
color:white;
border:none;
padding:12px;
width:100%;
cursor:pointer;
border-radius:8px;
font-size:15px;
transition:0.3s;

}

button:hover{

background:#B76A54;
transform:scale(1.03);

}

/* CARRINHO */

.carrinho-container{

background:white;
padding:20px;
border-radius:10px;

}

/* SOBRE */

.sobre{

margin-top:60px;
background:white;
padding:30px;
border-radius:15px;
text-align:center;

}

.sobre h2{

margin-bottom:10px;
color:#8C4A2F;

}

/* RODAPÉ */

footer{

margin-top:40px;
text-align:center;
color:#555;

}

/* BOTÃO WHATSAPP */

.whatsapp{

position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
font-size:28px;
padding:15px;
border-radius:50%;
text-decoration:none;
box-shadow:0 5px 15px rgba(0,0,0,0.3);

}

/* RESPONSIVO */

@media (max-width:600px){

body{
padding:20px;
}

.banner h2{
font-size:24px;
}

}
